.main-container {
    background-color: #f3f3f3;
    padding: 30px;
    width: 80%;
    margin: 20px auto;
}

.testimonial {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
}

.testimonial p {
    margin: 0;
    font-size: 16px;
}

.testimonial .author {
    text-align: right;
    font-style: italic;
    margin-top: 10px;
    color: #555;
}
